<%= render 'albums/header'%>
<div class="log-in">
<div class="log-in-box">
<h2 class="text-center">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email,class:'form-label mt-3' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control mt-1' %>
  </div>

  <div class="field">
    <%= f.label :password, class:'form-label mt-3' %><br />
    <%= f.password_field :password, autocomplete: "current-password",class:'form-control mt-1' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me,class:'form-check-input' %>
      <%= f.label :remember_me,class:'form-check-label' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in",class:'btn btn-primary mt-4 mb-2' %>
  </div>
<% end %>
 
 
<%= render "devise/shared/links" %>
</div>
</div>
<div class="footer-gap-box"></div>
<%= render 'albums/footer'%>